html{
    font-size: 62.5%;
    font-family: sans-serif;

}
:root{
    --color-primary: #ff4321;
    --color-secondary:#212121;
    --color-accent:#606163;
    --color-body:#f8f9fa;}
.dark-theme{
    --color-primary: #ff4321;
    --color-secondary:#f8f9fa;
    --color-accent:#f8f9fa;
    --color-body:#000106;
}

.hero{
    height: 100vh;
    width: 100%;
    background-color: var(--color-body);
    position: relative;

}
.nav-bar{
    display: flex;
    flex-direction: row;
}
#icon{
    width: 3rem;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav{
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 95%;
    margin-right: 4rem;

}
@media screen and (max-width:762px) {
    .nav-bar{
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;
    }
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 1.6rem;
}
.list--anchor {
    text-decoration: none;
    color:var(--color-accent);
    font-weight:600;
}
.list--anchor:hover{
    color:var(--color-primary);
}
.contact__a{
    border: solid var(--color-primary) 2px;
    padding: 8px 10px ;
    border-radius: 17px;
    font-weight: 600;
    color:var(--color-primary);
}
.contact__a:hover{
    background:var(--color-primary);
    color:var(--color-body);
}
.logo{
    width: 20rem;
    cursor: pointer;
    align-items: flex-start;
    justify-content: flex-start;

}
.info{
    margin-left: 8%;
    margin-top: 10%;
}
.info h1{
    font-size: 7rem;
    color: var(--color-secondary);
    margin-bottom: 10px;
}

span{
    color: var(--color-primary);
}
.info p{
    color:var(--color-accent);
    line-height: 25px;
    font-size: 2rem;
    margin-top: 20px;
    
}
.info a{
    background:var(--color-secondary);
    padding: 1rem 1.8rem ;
    text-decoration: none;
    color: var(--color-body);
    display: inline-block;
    margin: 4rem 5rem;
    border-radius: 5px;
    margin-left: 0%;
}
.info a:hover{
    background:var(--color-primary);
}
.img-box{
    width: 35%;
    height: 78%;
    position: absolute;
    bottom: 0;
    right: 100px;
    transform: scaleX(10px);
    transition: 0.5s;
}
.img-box-dark{
    width: 35%;
    height: 78%;
    position: absolute;
    bottom: 0;
    right: 100px;
    transform: scaleX(10px);
    transition: 0.5s;
}
.image-box:hover{
    transform: rotate(10deg);
}
.social-links{
    margin-left: 8%;
    margin-top: 10rem;
}
.social-links a {
    font-size: 3rem;
    color:var(--color-accent);
    margin-right: 2rem;
}
.social-links a:hover{
    color: var(--color-primary);
}